body{
    display: fixed;
    top: 0px;
}
a{
    color: white;
text-decoration: none;
}
.nav-item{
    margin-left: 10px;
}
/* .nav-item:hover{
    
    
} */
.navbar-light .navbar-brand {
    color:white;
}
a > span {
    margin:  0 30px;
    font-size:  1.3rem;
    cursor: pointer;
    color: white;
}